.wrapper {
    border: 1px solid #edf5ff;
    border-radius: 15px;
    padding: 25px;

    .table {
        width: 100%;

        .header {
            background-color: #f6faff;
            border-radius: 15px;

            .title {
                text-align: left;
                padding: 20px;
                font-weight: bold;
                color: #8d9fc5;
            }
        }
    }
}

.info {
    color: #203869;
}