.form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .formItem {
    width: 100%;
    margin: 24px 0;

    .label {
      font-size: 16px;
      color: #97a8ca;
    }

    .inputField {
      display: flex;
      margin-right: -50px;

      .input {
        color: #273f6e;
        font-size: 16px;
        border: none;
        line-height: 22px;
        width: 94%;
        background: none;
        margin-top: 12px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0.3;
        }
      }
    }
  }
}
  

.formItemBar {
  width: 100%;
  height: 2px;
  background: #cfd5e1;
  transition: 0.1s all;
  margin-top: 10px;
}
 
.error {
  @extend .formItemBar;
  background: #e33f78;
}

.tooltip {
  position: relative;
  display: flex;

    &::after{
      content: "";
      position: absolute;
      top: 60%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #fcebf1 transparent transparent;
    }

    .tooltiptext {
      width: 220px;
      height: 55px;
      background-color: #fcebf1;
      color: #e65386;
      text-align: center;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 110%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
.button {
  background-color: #00e1bb;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  height: 54px;
  width: 130px;
  border-radius: 50px;
  margin-top: 40px;
  cursor: pointer;

    &:hover{
      background-color: darken(#00e1bb, 20%);
      transition: 0.3s;
    }

    &:disabled {
      background: #dddddd;
      cursor: auto;
    }
  }

  .emptyFieldMsg {
    width: 220px;
    height: 55px;
    background-color: #fcebf1;
    color: #e65386;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #fcebf1 transparent transparent;
    }
  }