@keyframes appear {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: left;
    border: 1px solid blue;
    max-width: 300px;
    margin-bottom: 20px;
    position: relative;
    animation: appear .5s ease;


}

.item {
    display: grid;
    //grid-template-columns: (3, 1fr);
    grid-template-columns: 300px 300px 300px;
    //grid-template-columns: 1fr 1fr 1fr;

justify-content: center;
}

