@keyframes appear {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.row {
    width: 100%;
    border-bottom: 1px solid #edf5ff;
    animation: appear .5s ease;
    &:last-child {
        border: none;
    }
    .data {
        color: #203869;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.removeBtn {
    $size: 50px;
    height: $size;
    width: $size;
    position: relative;
    box-sizing: border-box;
    line-height: $size;
    display: inline-block;
    background-color: #f6faff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    &:before, &:after {
        $width: 20px;
        $height: 4px;
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height/2;
        margin-left: -$width/2;
        display: block;
        height: $height;
        width: $width;
        background-color: #8d9fc5;
        transition: all 0.25s ease-out;
        border-radius: 25px;
    }

    &:after {
        transform: rotate(-135deg);
    }

    &:hover {
        &:before, &:after {
            transform: rotate(0deg);
        }
    }
}