.wrapper {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60vw;
  height: 70vh;
  position: fixed;
  z-index: 1; 
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: transparent;
  background-color: rgba(0,0,0,0.4); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 60%;
  height: 40%;
  border: 1px solid #edf5ff;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #203869;
  .popupTxt {
    text-align: center;
    padding: 0 20px;
  }
}

.closeBtn {
  $size: 50px;
  height: $size;
  width: $size;
  position: relative;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  background-color: transparent;
  border: none;
  top: -17%;
  left: 60%;
  cursor: pointer;
  outline: none;

  &:before, &:after {
    $width: 20px;
    $height: 4px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    background-color: #8d9fc5;
    transition: all 0.25s ease-out;
    border-radius: 25px;
  }

  &:after {
      transform: rotate(-135deg);
  }

  &:hover {
      &:before, &:after {
          transform: rotate(0deg);
      }
  }
}

.confirm {
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f6faff;
  border: none;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
    &:hover {
      background-color: darken(#f6faff, 80%);
      color: #fff;
      transition: 0.3s;
    }
}

.cancel {
  @extend .confirm;
  background-color: #fcebf1;
  color: #e65386;  
}
