body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #1b3466;
    margin-bottom: 30px;
}

.info {
    border: 1px solid #edf5ff;
    border-radius: 15px;
    padding: 25px;
    color: #1b3466;
    text-align: center;
    transition: 0.5s;
    background-color: #edf5ff;
}