body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #1b3466;
    margin-bottom: 30px;
}

.info {
    border: 1px solid #edf5ff;
    border-radius: 15px;
    padding: 25px;
    color: #1b3466;
    text-align: center;
    transition: 0.5s;
    background-color: #edf5ff;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .removeAllBtn {
        margin-top: 20px;
        margin-right: 10px;
        cursor: pointer;
        background-color: #fcebf1;
        color: #e65386;  
        border: none;
        padding: 20px;
        border-radius: 30px;
        font-family: 'Open Sans', sans-serif;

        &:hover {
        background-color: darken(#f6faff, 80%);
        color: #fff;
        transition: 0.3s;
        }
    }
}   


@media (max-width: 575.98px) { 
    body {
        margin: 30px;
    }
    .delete {
        flex-direction: column;
        align-items: flex-start;
    }
}